:root {
  --main-body-height: 50em;
  --background-color: rgb(238, 238, 238);
  --color-1: hsl(83, 58%, 49%);
  --color-1-opacity-0-1: hsla(83, 58%, 49%, 0.1);
  --color-2: hsl(289, 58%, 60%);
  --color-2-opacity-0-1: hsla(289, 58%, 60%, 0.1);
  --color-3: hsl(184, 66%, 52%);
  --color-3-opacity-0-1: hsla(184, 66%, 52%, 0.1);
  --color-4: hsl(28, 89%, 53%);
  --color-4-opacity-0-1: hsla(28, 89%, 53%, 0.1);
  --color-5: hsl(331, 80%, 67%);
  --color-5-opacity-0-1: hsla(331, 80%, 67%, 0.1);
  --color-6: hsl(207, 91%, 55%);
  --color-6-opacity-0-1: hsla(207, 91%, 55%, 0.1);
  --color-7: hsl(55, 88%, 56%);
  --color-7-opacity-0-1: hsla(55, 88%, 56%, 0.1);
  --color-8: hsl(237, 68%, 69%);
  --color-8-opacity-0-1: hsla(237, 68%, 69%, 0.1);
  --color-9: hsl(155, 66%, 60%);
  --color-9-opacity-0-1: hsla(155, 66%, 60%, 0.1);
  --color-10: hsl(45, 96%, 49%);
  --color-10-opacity-0-1: hsla(45, 96%, 49%, 0.1);
  /* --color-1: hsl(56, 55%, 56%); */
}