:root {
  --main-body-height: 37em;
  --color-1: #8dc434;
  --color-2: #c05fd5;
  --color-3: #35cbd5;
  --color-4: #f2811c;
  --color-5: #ee68a9;
  --color-6: #2496f5;
  --color-7: #f1e12b;
  --color-8: #7c81e6;
  --color-9: #57dca5;
  --color-10: #f5ba05;
}
